
@{
    ViewData["Title"] = "أخر الأخبار";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["currentIsNewsPage"] = "current_menu";
}

<div class="page_cover xtra-cover-type-title">
    <div class="page_title" data-title-parallax="">
        <div class="right_br_full_container clr">
            <div class="row clr">
                <div class="lefter">
                    <h1 class="section_title ">أخبار المكتب الثقافى بالأسكندرية</h1>
                </div>
                <div class="righter">
                    <div class="breadcrumbs clr">
                        <b><a href="~/home/"><span><i class="fa fa-home cz_breadcrumbs_home"></i></span></a></b>
                        <i class="fas fa-angle-double-left"></i>
                        <b class="inactive_l"><a class="cz_br_current" href=""><span>أخبار المكتب الثقافى بالأسكندرية</span></a></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="page_content" class="page_content" style="transform: none;">
    <div class="row clr" style="transform: none; ">
        <section class="col s12">
            <div class="content clr">
                <div class="cz_posts_container cz_posts_template_6">
                    <div class="clr mb30">

                        <article class="cz_default_loop clr cz_post_odd post-143 post type-post status-publish format-standard has-post-thumbnail hentry category-19 category-18 tag-36 tag-33 tag-20 tag-26">
                            <div class="clr">
                                <a class="cz_post_image" href="~/news/TulipOffer">
                                    <img width="600" height="600" src="~/news/socialreward.jpg" data-src="~/news/tulip-1.jpeg" class="attachment-codevz_600_1000 size-codevz_600_1000 wp-post-image lazyDone" alt="">
                                    @*<i class="cz_post_icon fa czico-107-web-link"></i>*@
                                </a>
                                <div class="cz_post_con">
                                    <a class="cz_post_title" href="~/news/socialreward">
                                        <h3>تذكير بشأن المكافأة الإجتماعية</h3>
                                    </a>
                                    <div class="cz_post_excerpt">
                                        <br />
                                        يستحق للطلبة الكويتين و أبناء الكويتيات الدارسين خارج الكويت على نفقتهم الخاصة مكافأة إجتماعية شهرية
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="cz_default_loop clr cz_post_odd post-143 post type-post status-publish format-standard has-post-thumbnail hentry category-19 category-18 tag-36 tag-33 tag-20 tag-26">
                            <div class="clr">
                                <a class="cz_post_image" href="~/news/TulipOffer">
                                    <img width="600" height="600" src="~/news/tulip-1.jpeg" data-src="~/news/tulip-1.jpeg" class="attachment-codevz_600_1000 size-codevz_600_1000 wp-post-image lazyDone" alt="">
                                    @*<i class="cz_post_icon fa czico-107-web-link"></i>*@
                                </a>
                                <div class="cz_post_con">
                                    <a class="cz_post_title" href="~/news/TulipOffer">
                                        <h3>فندق توليب الأسكندرية - عرض خاص لطلابنا الأعزاء</h3>
                                    </a>
                                    <div class="cz_post_excerpt">
                                        <br />
                                        عرض خاص لطلابنا الدارسين بمدينة الأسكندرية خلال إمتحانات نصف العام.
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="cz_default_loop clr cz_post_odd post-143 post type-post status-publish format-standard has-post-thumbnail hentry category-19 category-18 tag-36 tag-33 tag-20 tag-26">
                            <div class="clr">
                                <a class="cz_post_image" href="~/news/FourSeasonsOffer">
                                    <img width="600" height="600" src="~/news/four seasons.jpeg" data-src="~/news/four seasons.jpeg" class="attachment-codevz_600_1000 size-codevz_600_1000 wp-post-image lazyDone" alt="">
                                    @*<i class="cz_post_icon fa czico-107-web-link"></i>*@
                                </a>
                                <div class="cz_post_con">
                                    <a class="cz_post_title" href="~/news/FourSeasonsOffer">
                                        <h3>هام لطلابنا الدارسين بالأسكندرية</h3>
                                    </a>
                                    <div class="cz_post_excerpt">
                                        <br />
                                        عرض خاص لطلابنا الأعزاء مقدم من فندق الفورسيزونز الأسكندرية سان ستيفانو.
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="cz_default_loop clr cz_post_odd post-143 post type-post status-publish format-standard has-post-thumbnail hentry category-19 category-18 tag-36 tag-33 tag-20 tag-26">
                            <div class="clr">
                                <a class="cz_post_image" href="~/news/latestdevelopments">
                                    <img width="600" height="600" src="~/news/qserve.jpeg" data-src="~/news/qserve.jpeg" class="attachment-codevz_600_1000 size-codevz_600_1000 wp-post-image lazyDone" alt="">
                                    @*<i class="cz_post_icon fa czico-107-web-link"></i>*@
                                </a>
                                <div class="cz_post_con">
                                    <a class="cz_post_title" href="~/news/latestdevelopments">
                                        <h3>التطوير مازال مستمر</h3>
                                    </a>
                                    <div class="cz_post_excerpt">
                                        <br />
                                        منذ أكثر من أربعين عاما بدء المكتب الثقافى نشاطه و مر بالكثير من التطورات و التجديدات حتى وقتنا هذا حيث
                                        تم تجديد المكتب الثقافى بالكامل لتوفير الخدمات الإلكترونية للطلاب
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="cz_default_loop clr cz_post_odd post-143 post type-post status-publish format-standard has-post-thumbnail hentry category-19 category-18 tag-36 tag-33 tag-20 tag-26">
                            <div class="clr">
                                <a class="cz_post_image" href="~/service/getserviceslist">
                                    <img width="400" height="400" src="~/news/online-request.png" data-src="~/news/online-request.png" class="attachment-codevz_600_1000 size-codevz_600_1000 wp-post-image lazyDone" alt="">
                                    @*<i class="cz_post_icon fa czico-107-web-link"></i>*@
                                </a>
                                <div class="cz_post_con">
                                    <a class="cz_post_title" href="~/service/getserviceslist">
                                        <h3>توفير أهم الخدمات على البوابة الإلكترونية</h3>
                                    </a>
                                    <div class="cz_post_excerpt">
                                        <br />
                                        يمكن للطلاب الأن إرسال طلبات إصدار بطاقة الهوية و نموذج مصدقة التجنيد عبر البوابة الإلكترونية لموقع المكتب الثقافى بالأسكندرية
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="clr tac relative" style="height:0px">
                    <nav class="navigation pagination" role="navigation" aria-label="">
                        <div class="nav-links" style="display: none">
                            <a class="page-numbers" href=""></a>
                            <a class="next page-numbers" href=""><i class="fa fa-angle-double-left ml4"></i></a>
                        </div>
                    </nav>
                </div>
            </div>
        </section>
    </div>
</div>

