
@{
    ViewData["Title"] = "تذكير بشأن المكافأة الإجتماعية";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["currentIsNewsPage"] = "current_menu";
}

<div class="page_cover xtra-cover-type-title">
    <div class="page_title" data-title-parallax="">
        <div class="right_br_full_container clr">
            <div class="row clr">
                <div class="lefter">
                    <h1 class="section_title ">تذكير بشأن المكافأة الإجتماعية</h1>
                </div>
                <div class="righter">
                    <div class="breadcrumbs clr">
                        <b><a href="~/home/"><span><i class="fa fa-home cz_breadcrumbs_home"></i></span></a></b>
                        <i class="fas fa-angle-double-left"></i>
                        <b class="inactive_l"><a class="cz_br_current" href=""><span>تذكير بشأن المكافأة الإجتماعية</span></a></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="page_content" class="page_content mt0 mb0">
    <div class="row clr">
        <section class="s12 clr">
            <div class="cz_is_blank clr">
                <div class="cz_post_content clr">
                    <div class="vc_row-full-width vc_clearfix"></div>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="cz_gap clr  hide_on_tablet hide_on_mobile" style="height: 40px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid vc_custom_1497126171788 vc_row-has-fill">
                        <div class="wpb_column vc_column_container">
                            <div class="vc_column-inner vc_custom_1585687734462">
                                <div class="cz_wpe_content">
                                    <h2 style="align-content:center">
                                        <span style="color: #439a0d; font-size:35px">
                                            تذكير بشأن المكافأة الإجتماعية
                                        </span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div id="page_content" class="page_content" style="transform: none;">
    <div class="row clr" style="transform: none; ">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner vc_custom_1585728045360">
                <div class="wpb_wrapper">
                    <div id="cz_15599" class="cz_grid_p cz_15599">
                        <div class="cz_grid cz_grid_1 clr cz_hr_grid cz_grid_c2 cz_grid_1_no_title cz_grid_1_mid tac" data-animation="cz_grid_brfx_right" style="position: relative; height: 962.2px;">
                            <div class="cz_grid_item cz_grid_brfx_right" style="position: absolute; right: 0%; top: 0px; margin-top:-70px">
                                <div>
                                    <a class="cz_grid_link cz_grid_zoom_in" href="" data-xtra-lightbox="">
                                        <img style="width:509px; height:292px" src="~/news/socialreward.jpg" data-src="~/news/socialreward.jpg" class="lazyDone" alt="" title="pa1">
                                        <div class="cz_grid_details">
                                            <i class="fa czico-146-search-4 cz_grid_icon"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p style="font-size:25px">يستحق للطلبة الكويتين و أبناء الكويتيات الدارسين خارج الكويت على نفقتهم الخاصة مكافأة إجتماعية شهرية بشرط:</p>
                    <p style="font-size:20px">1- الإلتحاق الفعلى بالدراسة.</p>
                    <p style="font-size:20px">2- إستيفاء كل المستندات المطلوبة على منظومة الديره الإلكترونية (شهادة قيد الدراسة من الجامعة - كشف الدرجات).</p>
                    <p style="font-size:20px">3- لإستمرار صرف المكافأة الإجتماعية للطلبة الدارسين على نفقتهم الخاصة يتعين تحديث بياناتهم مرتين سنويا فى (فبراير و سبتمبر) من كل عام أكاديمى.</p>
                    <p style="font-size:19px">يتعين على الطالب مراجعة المكتب الثقافى و ليس وزارة التعليم العالى لطلب تحديث البيانات لإستمرار صرف المكافأة الإجتماعية و تجنب توقفها.</p>
                    <p style="font-size:19px">تعد مراجعة المكتب بغرض تحديث البيانات لإستمرار صرف المكافأة الإجتماعية هى مسئولية الطالب و المكتب الثقافى غير مسؤول عن توقف صرف المكافأة الإجتماعية للطلبة الذين لم يراجعوا المكتب بغرض تحديث بياناتهم.</p>
                    <p><a href="https://www.mohe.edu.kw/dayrah/services/socialrewards.html" style="font-size:22px; color:darkorchid" target="_blank"><i class="fa fa-link"></i> رابط منظومة الديره الإلكترونية </a></p>
                </div>
            </div>
        </div>
    </div>
</div>

