
<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div id="cz_73147" class="cz_73147 services clr style11 cz_sbi_fx_10 services_b"><div class="service_img"><img width="128" height="128" src="https://xtratheme.com/arabic/gardening/wp-content/uploads/sites/7/2018/08/plant.png" data-src="" class="service-icon attachment-full lazyDone" alt="" title="plant" srcset="https://xtratheme.com/arabic/gardening/wp-content/uploads/sites/7/2018/08/plant.png 128w, https://xtratheme.com/arabic/gardening/wp-content/uploads/sites/7/2018/08/plant-100x100.png 100w" sizes="(max-width: 128px) 100vw, 128px"></div><div class="service_text"><h3>خدمات البستنة</h3><div class="cz_wpe_content"><span style="color: #666666;">على مدى السنين ظهرت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة، وأحياناً عن عمد كإدخال بعض العبارات الفكاهية إليها.</span></div><a href="#" class="cz_btn">اقرأ أكثر</a></div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div id="cz_15408" class="cz_15408 services clr style11 cz_sbi_fx_10 services_b"><div class="service_img"><img width="128" height="128" src="https://xtratheme.com/arabic/gardening/wp-content/uploads/sites/7/2018/08/seeds.png" data-src="" class="service-icon attachment-full lazyDone" alt="" title="seeds" srcset="https://xtratheme.com/arabic/gardening/wp-content/uploads/sites/7/2018/08/seeds.png 128w, https://xtratheme.com/arabic/gardening/wp-content/uploads/sites/7/2018/08/seeds-100x100.png 100w" sizes="(max-width: 128px) 100vw, 128px"></div><div class="service_text"><h3>زراعة النباتات</h3><div class="cz_wpe_content"><span style="color: #666666;">على مدى السنين ظهرت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة، وأحياناً عن عمد كإدخال بعض العبارات الفكاهية إليها.</span></div><a href="#" class="cz_btn">اقرأ أكثر</a></div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-3"><div class="vc_column-inner"><div class="wpb_wrapper"><div id="cz_27588" class="cz_27588 services clr style11 cz_sbi_fx_10 services_b"><div class="service_img"><img width="128" height="128" src="https://xtratheme.com/arabic/gardening/wp-content/uploads/sites/7/2018/08/digger.png" data-src="" class="service-icon attachment-full lazyDone" alt="" title="digger" srcset="https://xtratheme.com/arabic/gardening/wp-content/uploads/sites/7/2018/08/digger.png 128w, https://xtratheme.com/arabic/gardening/wp-content/uploads/sites/7/2018/08/digger-100x100.png 100w" sizes="(max-width: 128px) 100vw, 128px"></div><div class="service_text"><h3>لوازم البستنة</h3><div class="cz_wpe_content"><span style="color: #666666;">على مدى السنين ظهرت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة، وأحياناً عن عمد كإدخال بعض العبارات الفكاهية إليها.</span></div><a href="#" title="Services" class="cz_btn">اقرأ أكثر</a></div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-3">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="cz_eqh cz_content_box_parent_fx  ">
                    <div id="cz_43260" class="cz_43260 cz_content_box clr">
                        <div class="cz_box_front clr">
                            <div class="cz_box_front_inner clr ">
                                <span></span><div>
                                    <div id="cz_61577" class="cz_61577 cz_title clr cz_smart_fs cz_mobile_text_center cz_title_ba_line cz_title_pos_inline">
                                        <div class="cz_title_content">
                                            <div class="cz_wpe_content">
                                                <h1 style="line-height: 1.2;"><span style="font-size: 3.2335329341317367vw;" data-ori-style="font-size: 29px;">لجميع احتياجات البستنة الخاصة بك</span></h1>
                                            </div><div class="cz_title_line cz_line_after_title"><span>_</span></div>
                                        </div>
                                    </div><div class="cz_gap clr " style="height: 10px"></div><div id="cz_48936" class="cz_48936 cz_title clr cz_mobile_text_center cz_title_pos_inline">
                                        <div class="cz_title_content">
                                            <div class="cz_wpe_content">
                                                <p><span style="font-size: 20px; margin-top: 10px; display: inline-block;">لوازم وهدايا البستنة المنزلية</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>