<div class="vc_row-full-width vc_clearfix"></div>
<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div id="cz_11197" class="cz_11197 cz_title clr cz_smart_fs cz_title_ba_line cz_title_pos_inline tac">
                    <div class="cz_title_content">
                        <div class="cz_wpe_content">
                            @*<p style="text-align: center;">
                                <span style="color: #aaaaaa; font-size: 18px;">عملاء سعداء وشركاء مشهورون</span>
                            </p>*@
                            <h3 style="text-align: center;">
                                <span style="font-size: 36px;">أحدث أخبار <span style="color: #439a0d;">المكتب الثقافى</span></span>
                            </h3>
                        </div>
                        <div class="cz_title_line cz_line_after_title">
                            <span>_</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vc_row-full-width vc_clearfix"></div>
<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div id="cz_92379" class="cz_92379 slick arrows_br no_dots arrows_inner" data-slick='{"selector":"","slidesToShow":1,"slidesToScroll":1,"rows":1,"fade":false,"vertical":false,"verticalSwiping":false,"infinite":true,"speed":1000,"swipeToSlide":true,"centerMode":false,"centerPadding":"","variableWidth":false,"autoplay":true,"autoplaySpeed":6000,"dots":true,"counts":false,"adaptiveHeight":false,"responsive":[{"breakpoint":769,"settings":{"slidesToShow":1,"slidesToScroll":1,"touchMove":true}},{"breakpoint":481,"settings":{"slidesToShow":1,"slidesToScroll":1,"touchMove":true}}]}' data-slick-prev="fa fa-chevron-left" data-slick-next="fa fa-chevron-right">
                    <div id="cz_54560" class="cz_54560 cz_testimonials cz_testimonials_s6">
                        <div class="cz_testimonials_content">
                            <div class="cz_testimonials_meta">
                                <div class="cz_testimonials_avatar">
                                    <img width="80" height="80" src="~/news/qserve.jpeg" class="attachment-thumbnail" alt="">
                                </div>
                                <div class="cz_testimonials_name_subname">
                                    <div class="cz_testimonials_name">و مازال التطوير مستمرا</div>
                                    <div class="cz_testimonials_subname">بالمكتب الثقافى</div>
                                </div>
                            </div>
                            <div class="cz_wpe_content">
                                <p style="text-align: right;">
                                    <span style="font-size: 20px; color: #666666">
                                        منذ أكثر من أربعين عاما بدء المكتب الثقافى نشاطه و مر بالكثير من التطورات و التجديدات حتى وقتنا هذا حيث
                                        تم تجديد المكتب الثقافى بالكامل لتوفير الخدمات الإلكترونية للطلاب
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="cz_37759" class="cz_37759 cz_testimonials cz_testimonials_s6">
                        <div class="cz_testimonials_content">
                            <div class="cz_testimonials_meta">
                                <div class="cz_testimonials_avatar">
                                    <img width="80" height="80" src="~/services/id-card.png" class="attachment-thumbnail" alt="">
                                </div>
                                <div class="cz_testimonials_name_subname">
                                    <div class="cz_testimonials_name">إستخراج هوية الطالب أونلاين</div>
                                    <div class="cz_testimonials_subname">أرسل طلب إستخراج الهوية الأن</div>
                                </div>
                            </div>
                            <div class="cz_wpe_content">
                                <p style="text-align: right;">
                                    <span style="font-size: 20px; color: #666666;">يمكن للطلاب الأن إستخراج هوية الطالب بعد إرسال طلب إستخراج الهوية من</span>
                                    <span><a href="~/student/PostIdCardRequest" style="font-size:20px; color:darkgreen">هنا</a></span>
                                <p>
                                    <span style="font-size: 20px; ">لإسال الطلب بشكل صحيح يرجى إرسال صورة شخصية بدقة عالية و بيانات مطابقة لبيانات البطاقة المدنية و جواز السفر</span>
                                </p>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="cz_105743" class="cz_105743 cz_testimonials cz_testimonials_s6">
                        <div class="cz_testimonials_content">
                            <div class="cz_testimonials_meta">
                                <div class="cz_testimonials_avatar">
                                    <img width="80" height="80" src="~/services/fees.png" class="attachment-thumbnail" alt="">
                                </div>
                                <div class="cz_testimonials_name_subname">
                                    <div class="cz_testimonials_name">نموذج سداد الرسوم للطلبة المبتعثين</div>
                                    <div class="cz_testimonials_subname">الأن أسهل من قبل</div>
                                </div>
                            </div>
                            <div class="cz_wpe_content">
                                <p style="text-align: right;">
                                    <span style="font-size: 20px; color: #666666;">
                                        الأن يمكن لطلبة البعثات إرسال نموذج المطالبة المالية لسداد الرسوم الجامعية.
                                        يرجى إرسال الطلب من <span><a href="~/feepayment/postfeepaymentrequest" style="font-size:20px; color:darkgreen"> هنا </a></span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="cz_105743" class="cz_105743 cz_testimonials cz_testimonials_s6">
                        <div class="cz_testimonials_content">
                            <div class="cz_testimonials_meta">
                                <div class="cz_testimonials_avatar">
                                    <img width="80" height="80" src="~/services//military-certificate.png" class="attachment-thumbnail" alt="">
                                </div>
                                <div class="cz_testimonials_name_subname">
                                    <div class="cz_testimonials_name">نموذج مصدقة التجنيد</div>
                                    <div class="cz_testimonials_subname">الأن أسهل من قبل</div>
                                </div>
                            </div>
                            <div class="cz_wpe_content">
                                <p style="text-align: right;">
                                    <span style="font-size: 20px; color: #666666;">
                                        يمكن للطلاب الأن إستخراج مصدقة التجنيد بعد إرسال الطلب على موقع المكتب الثقافى و سنقوم بتنفيذ الطلب بعد مراجعة البيانات المرسلة.
                                        يرجى إرسال الطلب من <span><a href="~/service/PostCertifiedRecruitmentRequest" style="font-size:20px; color:darkgreen"> هنا </a></span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vc_row-full-width vc_clearfix"></div>
<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="cz_gap clr " style="height: 50px"></div>
            </div>
        </div>
    </div>
</div>