<div class="vc_row-full-width vc_clearfix"></div>
<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-6">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div id="cz_66712" class="cz_66712 cz_image clr cz_image_no_fx center_on_mobile">
                    <div class="">
                        <div class="cz_image_in">
                            <div class="cz_main_image">
                                <img width="800" height="800" src="~/home/where_to_study.jpg">
                                <img width="800" height="800" src="~/home/resize.jpeg" style="padding-top:20px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-6">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div id="cz_33296" class="cz_33296 cz_title clr cz_smart_fs cz_mobile_text_center cz_title_ba_line cz_title_pos_inline">
                    <div class="cz_title_content">
                        <div class="cz_wpe_content">
                            <h3>
                                <span style="font-size: 34px;">أين أدرس <span style="color: #439a0d;">فى الأسكندرية</span></span>
                            </h3>
                        </div>
                        <div class="cz_title_line cz_line_after_title">
                            <span>_</span>
                        </div>
                    </div>
                </div>
                <div id="cz_12808" class="cz_12808 cz_title clr cz_mobile_text_center cz_title_pos_inline">
                    <div class="cz_title_content">
                        <div class="cz_wpe_content">
                            <p>
                                <span style="font-size: 20px; margin-top: 10px; display: inline-block; color: #666666;">قائمة ببعض التخصصات التى يتوافد عليها طلاب دولة الكويت بجامعة الأسكندرية  </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="cz_eqh cz_content_box_parent_fx  ">
                    <div id="cz_62247" class="cz_62247 cz_content_box clr">
                        <div class="cz_box_front clr">
                            <div class="cz_box_front_inner clr ">
                                <span></span>
                                <div>
                                    <ul id="cz_66216" class="cz_66216 cz_stylish_list clr cz_sl_icon_hover_zoom_in">
                                        <li class="clr">
                                            <div class="cz_sl_icon">
                                                <i class="fa czico-023-guarantee mr10"></i>
                                            </div>
                                            <div>
                                                <span>طب بشرى<small></small></span>
                                            </div>
                                        </li>
                                        <li class="clr">
                                            <div class="cz_sl_icon">
                                                <i class="fa czico-023-guarantee mr10"></i>
                                            </div>
                                            <div>
                                                <span>طب أسنان<small></small></span>
                                            </div>
                                        </li>
                                        <li class="clr">
                                            <div class="cz_sl_icon">
                                                <i class="fa czico-023-guarantee mr10"></i>
                                            </div>
                                            <div>
                                                <span>صيدلة<small></small></span>
                                            </div>
                                        </li>
                                        <li class="clr">
                                            <div class="cz_sl_icon">
                                                <i class="fa czico-023-guarantee mr10"></i>
                                            </div>
                                            <div>
                                                <span>هندسة<small></small></span>
                                            </div>
                                        </li>
                                        <li class="clr">
                                            <div class="cz_sl_icon">
                                                <i class="fa czico-023-guarantee mr10"></i>
                                            </div>
                                            <div>
                                                <span>حقوق<small></small></span>
                                            </div>
                                        </li>
                                        <li class="clr">
                                            <div class="cz_sl_icon">
                                                <i class="fa czico-023-guarantee mr10"></i>
                                            </div>
                                            <div>
                                                <span>فنون جميلة<small></small></span>
                                            </div>
                                        </li>
                                        <li class="clr">
                                            <div class="cz_sl_icon">
                                                <i class="fa czico-023-guarantee mr10"></i>
                                            </div>
                                            <div>
                                                <span>معهد الدراسات و البحوث<small></small></span>
                                            </div>
                                        </li>
                                        <li class="clr">
                                            <div class="cz_sl_icon">
                                                <i class="fa czico-023-guarantee mr10"></i>
                                            </div>
                                            <div>
                                                <span>معهد البحوث الطبية<small></small></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>