
@{
    ViewData["Title"] = "من نحن";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["currentIsAboutPage"] = "current_menu";
}

<div class="page_cover xtra-cover-type-title">
    <div class="page_title" data-title-parallax="">
        <div class="right_br_full_container clr">
            <div class="row clr">
                <div class="lefter">
                    <h1 class="section_title ">المكتب الثقافى بالأسكندرية</h1>
                </div>
                <div class="righter">
                    <div class="breadcrumbs clr">
                        <b><a href="~/home/"><span><i class="fa fa-home cz_breadcrumbs_home"></i></span></a></b>
                        <i class="fas fa-angle-double-left"></i>
                        <b class="inactive_l"><a class="cz_br_current" href=""><span>المكتب الثقافى بالأسكندرية</span></a></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="page_content" class="page_content mt0 mb0">
    <div class="row clr">
        <section class="s12 clr">
            <div class="cz_is_blank clr">
                <div class="cz_post_content clr">
                    <div class="vc_row-full-width vc_clearfix"></div>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="cz_gap clr  hide_on_tablet hide_on_mobile" style="height: 40px"></div>
                                    <div class="cz_gap show_on_tablet clr " style="height: 20px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid vc_custom_1497126171788 vc_row-has-fill">
                        <div class="wpb_column vc_column_container">
                            <div class="vc_column-inner vc_custom_1585687734462">
                                <div class="cz_wpe_content">
                                    <h2 style="align-content:center">
                                        <span style="color: #439a0d;">ما تريد أن تعرفه عن المكتب الثقافى بالأسكندرية</span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div id="page_content" class="page_content" style="transform: none;">
    <div class="row clr" style="transform: none; ">
        <section class="col s12">
            <div class="content clr">
                <div class="cz_posts_container cz_posts_template_6">
                    <div class="clr mb30">
                        <article class="cz_default_loop clr cz_post_odd cz_default_loop_right post-143 post type-post status-publish format-standard has-post-thumbnail hentry category-19 category-18 tag-36 tag-33 tag-20 tag-26">
                            <div class="clr">
                                <a class="cz_post_image" href="">
                                    <iframe width="500" height="260" src="https://www.youtube.com/embed/5HRSJCtmPL8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                                    <i class="cz_post_icon fa czico-107-web-link"></i>
                                </a>
                                <div class="cz_post_con">
                                    <a class="cz_post_title" href="">
                                        <h3>تاريخ المكاتب الثقافية بجمهورية مصر العربية</h3>
                                    </a>
                                    <div class="cz_post_excerpt">
                                        <br />
                                        المكتب الثقافي لسفارة دولة الكويت بالإسكندرية هو من أعرق المكاتب الثقافية العربية بمدينة الإسكندرية وعروس البحر المتوسط. تم أفتتاح المكتب في عام 1966 في عهد السفير الفنان والشاعر المغفور له الأستاذ / حمد عيسى الرجيب ، احد رواد التنوير ورمز من رموز الثقافة في دولة الكويت وبمبادرة كريمة من معالي وزير التربية بدولة الكويت إنذاك المغفور له الأستاذ / خالد المسعود الفهيد ، وتولى رئاسة المكتب السادة المربون الأفاضل التالية أسمائهم:
                                        <br />
                                        <span style="color:#439a0d; padding-left: 10px; font-weight:900"> أ/ رشيد عبدالعزيز الحصان (أول ملحق ثقافي)</span>
                                        <span style="color:#439a0d; padding-left: 10px; font-weight:900">أ/ عبدالله حبيب البدر</span>
                                        <span style="color:#439a0d; padding-left: 10px; font-weight:900">أ.د/ غانم سلطان أمان</span>
                                        <span style="color:#439a0d; padding-left: 10px; font-weight:900">أ.د/ خليفة طالب بهباني</span>
                                        <span style="color:#439a0d; padding-left: 10px; font-weight:900">أ.د/ شافي المحبوب</span>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="cz_default_loop clr cz_post_odd post-143 post type-post status-publish format-standard has-post-thumbnail hentry category-19 category-18 tag-36 tag-33 tag-20 tag-26">
                            <div class="clr">
                                <div class="cz_post_con">
                                    <a class="cz_post_title" href="">
                                        <h3>تطورات و تجديدات المكتب الثقافى بالأسكندرية </h3>
                                    </a>
                                    <div class="cz_post_excerpt">
                                        <br />
                                        منذ أكثر من أربعين عاما بدء المكتب الثقافى نشاطه و مر بالكثير من التطورات و التجديدات حتى وقتنا هذا حيث
                                        تم تجديد المكتب الثقافى بالكامل لتوفير الخدمات الإلكترونية للطلاب
                                        <br />
                                    </div>
                                </div>
                                <br />
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner vc_custom_1585728045360">
                                        <div class="wpb_wrapper">
                                            <div id="cz_15599" class="cz_grid_p cz_15599">
                                                <div class="cz_grid cz_grid_1 clr cz_hr_grid cz_grid_c2 cz_grid_1_no_title cz_grid_1_mid tac" data-animation="cz_grid_brfx_right" style="position: relative; height: 962.2px;">
                                                    <div class="cz_grid_item cz_grid_first cz_grid_brfx_right" style="position: absolute; right: 0%; top: 0px;"></div>
                                                    <div class="cz_grid_item cz_grid_brfx_right" style="position: absolute; right: 0%; top: 0px;">
                                                        <div>
                                                            <a class="cz_grid_link cz_grid_zoom_in" href="~/about/latest_developments/1.jpg" data-xtra-lightbox="">
                                                                <img width="200" height="200" src="~/about/latest_developments/1.jpg" data-src="~/about/latest_developments/1.jpg" class="attachment-codevz_600_1000 lazyDone" alt="" title="pa1">
                                                                <div class="cz_grid_details">
                                                                    <i class="fa czico-146-search-4 cz_grid_icon"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="cz_grid_item cz_grid_brfx_right" style="position: absolute; right: 0%; top: 0px;">
                                                        <div>
                                                            <a class="cz_grid_link cz_grid_zoom_in" href="~/about/latest_developments/2.jpg" data-xtra-lightbox="">
                                                                <img width="200" height="200" src="~/about/latest_developments/2.jpg" data-src="~/about/latest_developments/2.jpg" class="attachment-codevz_600_1000 lazyDone" alt="" title="pa1">
                                                                <div class="cz_grid_details">
                                                                    <i class="fa czico-146-search-4 cz_grid_icon"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="cz_grid_item cz_grid_brfx_right" style="position: absolute; right: 0%; top: 0px;">
                                                        <div>
                                                            <a class="cz_grid_link cz_grid_zoom_in" href="~/about/latest_developments/5.jpg" data-xtra-lightbox="">
                                                                <img width="200" height="200" src="~/about/latest_developments/5.jpg" data-src="~/about/latest_developments/5.jpg" class="attachment-codevz_600_1000 lazyDone" alt="" title="pa1">
                                                                <div class="cz_grid_details">
                                                                    <i class="fa czico-146-search-4 cz_grid_icon"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="cz_grid_item cz_grid_brfx_right" style="position: absolute; right: 0%; top: 0px;">
                                                        <div>
                                                            <a class="cz_grid_link cz_grid_zoom_in" href="~/about/latest_developments/9.jpg" data-xtra-lightbox="">
                                                                <img width="200" height="200" src="~/about/latest_developments/9.jpg" data-src="~/about/latest_developments/9.jpg" class="attachment-codevz_600_1000 lazyDone" alt="" title="pa1">
                                                                <div class="cz_grid_details">
                                                                    <i class="fa czico-146-search-4 cz_grid_icon"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="cz_btn_inline center_on_mobile">
                                                    <div class="cz_27571_p">
                                                        <a id="cz_27571" class="cz_27571 cz_btn cz_btn_txt_no_fx cz_btn_no_fx" href="/news/LatestDevelopments" title="Contact"><span><strong>شاهد المزيد من الصور</strong></span><b class="cz_btn_onhover"><strong>اتصل بنا اليوم</strong></b></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </article>
                        <article class="cz_default_loop clr cz_post_even cz_default_loop_right post-140 post type-post status-publish format-standard has-post-thumbnail hentry category-17 category-16 tag-27 tag-23 tag-24">
                            <div class="clr">
                                <a class="cz_post_image" href="">
                                    <img width="600" height="600" src="~/new/college_care.jpg" data-src="~/new/college_care.jpg" class="attachment-codevz_600_1000 size-codevz_600_1000 wp-post-image lazyDone" alt="">
                                    <i class="cz_post_icon fa czico-107-web-link"></i>
                                </a>
                                <div class="cz_post_con">
                                    <a class="cz_post_title" href="">
                                        <h3>الهدف و الرؤية</h3>
                                    </a>
                                    <div class="cz_post_excerpt">
                                        وكان الهدف من أنشاء المكتب هو توفير الرعاية والاشراف والمتابعة لطلاب دولة الكويت الدارسين بجامعة الإسكندرية التي هي من أعرق الجامعات المصرية والعربية التي تحتوي على العديد من التخصصات العلمية والتربوية والأكاديمية ذات السمعة العلمية والعالمية وتحتوي ايضا على المنشأت والمعامل والمكتبات وقاعات الدراسة ومعامل البحوث والمستشفيات الجامعية التي تضارع ارقى الجامعات العالمية وتشجيعا لتعدد منابع المعرفة وتنوع فروع الدراسة المستحدثة التي تضمها مدينة الإسكندرية ممثله بالأكاديمية العربية للعلوم والتكنولوجيا والنقل البحري لكي تساهم في تخرج كثير من القيادات البحرية والهندسية البحرية التي تحتاجها الكويت لموانئها البحرية، والتي لقيت اقبالا كبيرا من أبناء دولة الكويت على الدراسة فيها لما تحظى به من سمعة علمية وعالمية منفردة في منطقتنا العربية وتتواصل باتفاقياتها العلمية مع كثير من الجامعات العالمية ومراكز البحوث الدولية وجاري اعتماد فاروس من الوزارة في الكويت كقطاع خاص لإرسال الطلبة للدراسة بها بناء على التقارير العلمية والادارية والفنية والاكاديمية التي يتم مراعاتها عند اعتماد اي مؤسسة اكاديمية جديدة.
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="cz_default_loop clr cz_post_odd post-137 post type-post status-publish format-standard has-post-thumbnail hentry category-1 tag-32 tag-20 tag-35 tag-26">
                            <div class="clr">
                                <a class="cz_post_image" href="">
                                    <img width="600" height="600" src="~/new/office_banner.jpg" data-src="~/new/office_banner.jpg" class="attachment-codevz_600_1000 size-codevz_600_1000 wp-post-image lazyDone" alt="">
                                    <i class="cz_post_icon fa czico-107-web-link"></i>
                                </a>
                                <div class="cz_post_con">
                                    <a class="cz_post_title" href="">
                                        <h3>مبنى المكتب الثقافى</h3>
                                    </a>
                                    <div class="cz_post_excerpt">
                                        وقد تقلص دور المكتب خلال الفترة التي تلت خدمات المستشار الثقافي السابق الاستاذ / غانم سلطان امان ، مرورا لفترة الغزو العراقي الغاشم حيث استخدم مقر المكتب كفرع للجنة رعاية المواطنين الكويتيين التي ُشكلت لرعاية أبناء دولة الكويت الذين تواجدوا في الإسكندرية خلال فترة الغزو والتي تطوع فيها المئات من أبناء الكويت الى جانب إخوانهم المصريين العاملين بدولة الكويت الذين غادروا الكويت بسبب العدوان وتعاونوا جميعا في تقديم الرعاية الكاملة وتسهيل أمور أخوانهم من الرعايا الكويتيين طوال فترة الغزو حتى إتمام التحرير حيث بدأت مرحلة جديدة في تاريخ المكتب الثقافي حيث قررت وزارة التعليم العالي بالاستفادة القصوى من وجودة بأعادة تأهيلة وصيانته وترميمة بعد أن طالت يد الأهمال مبناه ومكاتبه ومرافقه فرصدت الأموال اللازمة لاعادته لحالته الأصلية ورونقه وبهائة بما يجعله واجهة حضارية ثقافية تليق بدولة الكويت ومكانتها.
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="cz_default_loop clr cz_post_even cz_default_loop_right post-134 post type-post status-publish format-standard has-post-thumbnail hentry category-17 category-19 tag-27 tag-22 tag-34">
                            <div class="clr">
                                <a class="cz_post_image" href="">
                                    <img width="600" height="600" src="~/new/cultural meetings.jpg" data-src="~/new/cultural meetings.jpg" class="attachment-codevz_600_1000 size-codevz_600_1000 wp-post-image lazyDone" alt="">
                                    <i class="cz_post_icon fa czico-107-web-link"></i>
                                </a>
                                <div class="cz_post_con">
                                    <a class="cz_post_title" href="">
                                        <h3>لقاءات ثقافية و علمية</h3>
                                    </a>
                                    <div class="cz_post_excerpt">
                                        الى جانب أقامة الصالونات واللقاءات الثقافية واستضافة العلماء والمفكرين والمثقفين في كل من مصر والكويت وعقد اللقاءات الأكاديمية بين الطلبة وأساتذتهم كما خصصت أماكن لمحاضرات التقوية الخاصة لأبنائنا الطلبة ، وكذلك اللقاءات الاجتماعية فيما بين الطلبة في المناسبات العامة والخاصة وتحقيق التواصل بين المكتب وسائر المكاتب الثقافية العربية والتجمعات الطلابية العربية في الاسكندرية وملتقى لمندوبي المكاتب الثقافية والصحية والقنصلية التابعة للسفارة.
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="clr tac relative" style="height:0px">
                    <nav class="navigation pagination" role="navigation" aria-label="">
                        <div class="nav-links" style="display: none">
                            <a class="page-numbers" href="">٢</a>
                            <a class="next page-numbers" href=""><i class="fa fa-angle-double-left ml4"></i></a>
                        </div>
                    </nav>
                </div>
            </div>
        </section>
    </div>
</div>
