
@{
    ViewData["Title"] = "تواصل معنا";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["currentIsContactPage"] = "current_menu";
}

<script src="~/scripts/contactUsRequest.js"></script>

@*<script src="~/scripts/contactUsRequest.js"></script>
<script src="https://smtpjs.com/v3/smtp.js">
</script>

<script type="text/javascript">

    function sendEmail() {
        debugger;
        Email.send({
            Host: "mail.kwalexculture.org",
            Username: document.getElementById('FullName').innerText,
            To: 'info@kwalexculture.org',
            From: document.getElementById('Email').innerText,
            Subject: document.getElementById('MessageHeader').innerText,
            Body: document.getElementById('MessageBody').innerText,
        })
            .then(function (message) {
                alert("mail sent successfully")
            });
    }
</script>*@
<div class="page_cover xtra-cover-type-title">
    <div class="page_title" data-title-parallax="">
        <div class="right_br_full_container clr">
            <div class="row clr">
                <div class="lefter">
                    <h1 class="section_title ">تواصل معنا</h1>
                </div>
                <div class="righter">
                    <div class="breadcrumbs clr">
                        <b><a href="~/home/"><span><i class="fa fa-home cz_breadcrumbs_home"></i></span></a></b>
                        <i class="fas fa-angle-double-left"></i>
                        <b class="inactive_l"><a class="cz_br_current" href=""><span>تواصل معنا</span></a></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="page_content" class="page_content mt0 mb0">
    <div class="row clr">
        <section class="s12 clr">
            <div class="vc_row-full-width vc_clearfix"></div>
            <br />
            <div class=" clr">
                <div class="cz_post_content clr">
                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4" style="float:left">
                        <div class="vc_column-inner vc_custom_1585687490767">
                            <div class="wpb_wrapper">
                                <div id="cz_68258" class="cz_68258 cz_image clr cz_image_no_fx center_on_mobile">
                                    <div class="">
                                        <div class="cz_image_in">
                                            <div class="cz_main_image">
                                                <img width="600" height="600" src="~/new/Kuwait_logo_new.png" data-czlz="">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cz_eqh cz_content_box_parent_fx  ">
                                    <div id="cz_85800" class="cz_85800 cz_content_box clr">
                                        <div class="cz_box_front clr">
                                            <div class="cz_box_front_inner clr ">
                                                <span></span>
                                                <div>
                                                    <div id="cz_67769" class="cz_67769 cz_title clr cz_mobile_text_center cz_title_has_icon cz_title_pos_inline">
                                                        <a href="tel:+2033925566">
                                                            <div class="cz_title_content">
                                                                <i class="cz_title_icon_before fa fa-phone"></i>
                                                                <div class="cz_wpe_content">
                                                                    <h3>
                                                                        <span style="color: #000000;">رقم الهاتف</span>
                                                                    </h3>
                                                                    <p>
                                                                        <span style=" color: #000000;"> 2033925566+</span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div id="cz_67769" class="cz_67769 cz_title clr cz_mobile_text_center cz_title_has_icon cz_title_pos_inline">
                                                        <a href="tel:+2033925566">
                                                            <div class="cz_title_content">
                                                                <i class="cz_title_icon_before fa fa-phone"></i>
                                                                <div class="cz_wpe_content">
                                                                    <h3>
                                                                        <span style="color: #000000;">رقم المكتب القنصلى</span>
                                                                    </h3>
                                                                    <p>
                                                                        <span style=" color: #000000;"> 20235714101+</span>
                                                                    </p>
                                                                    <p>
                                                                        <span style=" color: #000000;"> 20235712187+</span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div id="cz_67769" class="cz_67769 cz_title clr cz_mobile_text_center cz_title_has_icon cz_title_pos_inline">
                                                        <a href="tel:+2033925566">
                                                            <div class="cz_title_content">
                                                                <i class="cz_title_icon_before fa fa-mobile"></i>
                                                                <div class="cz_wpe_content">
                                                                    <h3>
                                                                        <span style="color: #000000;">الخط الساخن للمكتب القنصلى</span>
                                                                    </h3>
                                                                    <p>
                                                                        <span style=" color: #000000;"> 201210444448+</span>
                                                                    </p>
                                                                    <p>
                                                                        <span style=" color: #000000;"> 201210444449+</span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div id="cz_81747" class="cz_81747 cz_title clr cz_mobile_text_center cz_title_has_icon cz_title_pos_inline">
                                                        <a href="mailto:info@kwalexculture.org">
                                                            <div class="cz_title_content">
                                                                <i class="cz_title_icon_before fa fa-support"></i>
                                                                <div class="cz_wpe_content">
                                                                    <h3>
                                                                        <span style="color: #000000;">الدعم</span>
                                                                    </h3>
                                                                    <p>
                                                                        <span style="color: #000000;">info@kwalexculture.org</span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div id="cz_80485" class="cz_80485 cz_title clr cz_mobile_text_center cz_title_has_icon cz_title_pos_inline">
                                                        <a href="https://goo.gl/maps/B7QFpyrvCnmdjdsv6" target="_blank">
                                                            <div class="cz_title_content">
                                                                <i class="cz_title_icon_before fa fa-map-marker"></i>
                                                                <div class="cz_wpe_content">
                                                                    <h3>
                                                                        <span style="color: #000000;">عنوان</span>
                                                                    </h3>
                                                                    <p>
                                                                        <span style="color: #000000;">20 باتريس لومومبا - الأسكندرية</span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-8" style="float:right">
                        <div class="vc_column-inner vc_custom_1585687734462">
                            <div class="wpb_wrapper">
                                <div id="cz_77024" class="cz_77024 cz_title clr cz_smart_fs cz_mobile_text_center cz_title_ba_line cz_title_pos_inline">
                                    <div class="cz_title_content">
                                        <div class="cz_wpe_content">
                                            <p>
                                                <span style="font-size: 18px; color: #aaaaaa;">نحن فى إنتظار إستفساراتك</span>
                                            </p>
                                            <h3>
                                                <span style="font-size: 36px;">ابق على تواصل <span style="color: #439a0d;">معنا</span></span>
                                            </h3>
                                        </div>
                                        <div class="cz_title_line cz_line_after_title">
                                            <span>_</span>
                                        </div>
                                    </div>
                                </div>

                                <form action="/Home/PostContactRequest"
                                      id="contactRequestForm"
                                      name="contactRequestForm"
                                      method="post"
                                      class="wpcf7-form init"
                                      data-status="init"
                                      enctype="multipart/form-data">
                                    <div class="vc_row wpb_row vc_row-fluid vc_custom_1497126171788 vc_row-has-fill" style="direction:rtl" dir="rtl">
                                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-12" style="float:right">
                                            <div class="vc_column-inner vc_custom_1585687734462">
                                                <div class="wpb_wrapper">
                                                    <div id="cz_64089" class="cz_64089 cz_cf7 clr">
                                                        <div>
                                                            <div>
                                                                <div class="wpcf7" id="wpcf7-f791-p18-o1" lang="en-US" dir="rtl">
                                                                    <div class="screen-reader-response">
                                                                        <p role="status" aria-live="polite" aria-atomic="true"></p>
                                                                        <ul></ul>
                                                                    </div>
                                                                    <p>
                                                                        <label> الإسم الرباعى </label>
                                                                        <br>
                                                                        <span class="wpcf7-form-control-wrap your-name"><input type="text" name="ContactFullName" id="ContactFullName" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span>
                                                                    </p>
                                                                    <p>
                                                                        <label> الرقم المدنى </label>
                                                                        <br>
                                                                        <span class="wpcf7-form-control-wrap your-name"><input type="number" name="ContactNationalIDNo" id="ContactNationalIDNo" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span>
                                                                    </p>
                                                                    <p>
                                                                        <label> رقم الموبايل (*) </label>
                                                                        <br>
                                                                        <span class="wpcf7-form-control-wrap your-name"><input type="number" name="ContactPhoneNo" id="ContactPhoneNo" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span>
                                                                    </p>
                                                                    <p>
                                                                        <label> البريد الالكتروني (*) </label>
                                                                        <br>
                                                                        <span class="wpcf7-form-control-wrap your-email"><input type="email" name="ContactEmail" id="ContactEmail" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span>
                                                                    </p>
                                                                    <p>
                                                                        <label>موضوع (*)</label>
                                                                        <br>
                                                                        <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="ContactMessageHeader" id="ContactMessageHeader" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false"></span>
                                                                    </p>
                                                                    <p>
                                                                        <label> تفاصيل الرسالة (*)</label>
                                                                        <br>
                                                                        <span class="wpcf7-form-control-wrap your-message"><textarea name="ContactMessageBody" id="ContactMessageBody" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span>
                                                                    </p>
                                                                    <p>
                                                                        <button type="button" name="submit" onclick="return sendContactRequest();">إرسال الطلب</button>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="cz_gap clr  hide_on_tablet hide_on_mobile" style="height: 50px"></div>
                                    <div class="cz_gap show_on_tablet clr " style="height: 50px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-vc-full-width="true" data-vc-full-width-init="false">
                        <div class="col-sm-12">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d426.60104849373084!2d29.912476285904766!3d31.198325795912396!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f5c38fce0c120f%3A0x24c929d6e10ed77d!2z2KfZhNiz2YHYp9ix2Kkg2KfZhNmD2YjZitiq2YrYqQ!5e0!3m2!1sar!2seg!4v1642344962856!5m2!1sar!2seg" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
