
@{
    ViewData["Title"] = "الإجراءات الإحترازية لفيروس كورونا";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["currentIsAboutPage"] = "current_menu";
}

<div class="page_cover xtra-cover-type-title">
    <div class="page_title" data-title-parallax="">
        <div class="right_br_full_container clr">
            <div class="row clr">
                <div class="lefter">
                    <h1 class="section_title ">الإجراءات الإحترازية لفيروس كورونا</h1>
                </div>
                <div class="righter">
                    <div class="breadcrumbs clr">
                        <b><a href="~/home/"><span><i class="fa fa-home cz_breadcrumbs_home"></i></span></a></b>
                        <i class="fas fa-angle-double-left"></i>
                        <b class="inactive_l"><a class="cz_br_current" href=""><span>الإجراءات الإحترازية لفيروس كورونا</span></a></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="page_content" class="page_content">
    <div class="row clr">
        <section class="s12 clr">
            <div class="cz_is_blank clr">
                <div class="cz_post_content clr">
                    <div class="vc_row wpb_row vc_row-fluid vc_custom_1497126171788 vc_row-has-fill">
                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-8">
                            <div class="vc_column-inner vc_custom_1626586422594">
                                <div class="wpb_wrapper">
                                    <div id="cz_53515" class="cz_53515 cz_title clr cz_title_ba_line cz_title_pos_inline">
                                        <div class="cz_title_content">
                                            <div class="cz_wpe_content">
                                                <h3>
                                                    <span style="font-size: 36px;"><strong>الإجراءات الإحترازية <span style="color: #196730;">لفيروس كورونا</span></strong></span>
                                                </h3>
                                            </div>
                                            <div class="cz_title_line cz_line_after_title">
                                                <span>_</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p style="font-size: 18px; color: #666666;">
                                                يلتزم المكتب الثقافى فى الأسكندرية بإتباع دليل الإجراءات الإحترازية ضد إنتشار فيرس كوفيد 19 و الواردة فى دليل إجراءات العمل التى نشرها ديوان الخدمة المدنية بتاريخ
                                                و كذلك التعليمات الصحية التى تنشر دوريا من قبل االسلطات الصحية فى جمهورية مصر العربية.
                                            </p>
                                            <p style="font-size: 18px; color: #666666;">
                                                للإطلاع على دليل إجراءات العمل فى ظل جائحة كورونا
                                                <span><a href="https://alziadiq8.com/363099.html" target="_blank" style="color:darkgreen; font-weight:900"> اضغط هنا </a></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4" style="align-content:center; text-align:center">
                            <div class="vc_column-inner" style="align-content:center; text-align:center">
                                <div class="wpb_wrapper" style="align-content:center; text-align:center">
                                    <div id="cz_79625" class="cz_79625 cz_image clr cz_image_no_fx center_on_mobile center-block">
                                        <div class="" style="align-content:center; text-align:center">
                                            <div class="cz_image_in" style="align-content:center; text-align:center">
                                                <div class="cz_main_image" style="align-content:center; text-align:center">
                                                    <img src="~/covid-predictions/covid.jpg" style="align-content:center; text-align:center">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br />
        <section class="s12 clr">
            <div class="cz_is_blank clr">
                <div class="cz_post_content clr">
                    <div class="vc_row wpb_row vc_row-fluid vc_custom_1497126171788 vc_row-has-fill">
                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-12" style="align-content:center; text-align:center">
                            <div class="vc_column-inner" style="align-content:center; text-align:center">
                                <div class="wpb_wrapper" style="align-content:center; text-align:center">
                                    <div id="cz_79625" class="cz_79625 cz_image clr cz_image_no_fx center_on_mobile center-block">
                                        <div class="" style="align-content:center; text-align:center">
                                            <div class="cz_image_in" style="align-content:center; text-align:center">
                                                <div class="cz_main_image" style="align-content:center; text-align:center">
                                                    <img src="~/covid-predictions/covidpredictionsphoto.png" style="align-content:center; text-align:center">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


