
@{
    ViewData["Title"] = "بريد موظفى المكتب";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["currentIsContactPage"] = "current_menu";
}

<div class="page_cover xtra-cover-type-title">
    <div class="page_title" data-title-parallax="">
        <div class="right_br_full_container clr">
            <div class="row clr">
                <div class="lefter">
                    <h1 class="section_title ">بريد موظفى المكتب</h1>
                </div>
                <div class="righter">
                    <div class="breadcrumbs clr">
                        <b><a href="~/home/"><span><i class="fa fa-home cz_breadcrumbs_home"></i></span></a></b>
                        <i class="fas fa-angle-double-left"></i>
                        <b class="inactive_l"><a class="cz_br_current" href=""><span>بريد موظفى المكتب</span></a></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="page_content" class="page_content">
    <div class="row clr">
        <section class="col s8">
            <div class="content clr">
                <div class="cz_posts_container cz_posts_template_6">
                    <div class="clr mb30">
                        <article class="cz_default_loop clr cz_post_odd post-131 post type-post status-publish format-standard has-post-thumbnail hentry category-17 category-16 tag-28 tag-29 tag-24">
                            <div class="clr">
                                <div class="cz_post_con">
                                    <div class="cz_post_excerpt">
                                        <p style="font-size:25px; font-weight:700"><i class="fa fa-angle-left"></i> الملحق الثقافى</p>
                                        <p style="font-size:30px; color:darkgreen"> <i class="fa fa-user"></i> د/ خالد عبد العزيز المحارب</p>
                                        <a class="cz_readmore" style="font-size:20px" href="mailto:k.almuhareb@kwalexculture.org"><i class="fa czico-107-web-link"></i><span>k.almuhareb@kwalexculture.org</span></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="cz_default_loop clr cz_post_odd post-131 post type-post status-publish format-standard has-post-thumbnail hentry category-17 category-16 tag-28 tag-29 tag-24">
                            <div class="clr">
                                <div class="cz_post_con">
                                    <div class="cz_post_excerpt">
                                        <p style="font-size:25px; font-weight:700"> <i class="fa fa-angle-left"></i> سكرتارية رئيس المكتب</p>
                                        <p style="font-size:30px; color:darkgreen"><i class="fa fa-user"></i> أ/ إيرينى فهمى</p>
                                        <a class="cz_readmore" style="font-size:20px" href="mailto:eriny.fahmy@kwalexculture.org"><i class="fa czico-107-web-link"></i><span>eriny.fahmy@kwalexculture.org</span></a>
                                        <a class="cz_readmore" style="font-size:20px" href="mailto:info@kwalexculture.org"><i class="fa czico-107-web-link"></i><span>info@kwalexculture.org</span></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="cz_default_loop clr cz_post_odd post-131 post type-post status-publish format-standard has-post-thumbnail hentry category-17 category-16 tag-28 tag-29 tag-24">
                            <div class="clr">
                                <div class="cz_post_con">
                                    <div class="cz_post_excerpt">
                                        <p style="font-size:25px; font-weight:700"><i class="fa fa-angle-left"></i> مدير إدارة الشئون الأكاديمية</p>
                                        <p style="font-size:30px; color:darkgreen"> <i class="fa fa-user"></i> أ/ إسلام رمضان</p>
                                        <a class="cz_readmore" style="font-size:20px" href="mailto:islam@kwalexculture.org	"><i class="fa czico-107-web-link"></i><span>islam@kwalexculture.org</span></a>
                                    </div>
                                </div>
                            </div>
                        </article>


                        <article class="cz_default_loop clr cz_post_odd post-131 post type-post status-publish format-standard has-post-thumbnail hentry category-17 category-16 tag-28 tag-29 tag-24">
                            <div class="clr">
                                <div class="cz_post_con">
                                    <div class="cz_post_excerpt">
                                        <p style="font-size:25px; font-weight:700"> <i class="fa fa-angle-left"></i> الإرشاد الأكاديمى</p>
                                        <p style="font-size:23px">  طلاب الفرقة الأولى و الثالثة</p>
                                        <p style="font-size:30px; color:darkgreen"><i class="fa fa-user"></i> أ/ محمود بركات</p>
                                        <a class="cz_readmore" style="font-size:20px" href="mailto:mbarakat@kwalexculture.org	"><i class="fa czico-107-web-link"></i><span>mbarakat@kwalexculture.org	</span></a>
                                        <br />
                                        <p style="font-size:23px">  طلاب الفرقة الثانية و الرابعة  و الخامسة</p>
                                        <p style="font-size:30px; color:darkgreen"><i class="fa fa-user"></i> أ/ أحمد السنوسى</p>
                                        <a class="cz_readmore" style="font-size:20px" href="mailto:ahmed.senosy@kwalexculture.org	"><i class="fa czico-107-web-link"></i><span>ahmed.senosy@kwalexculture.org	</span></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="cz_default_loop clr cz_post_odd post-131 post type-post status-publish format-standard has-post-thumbnail hentry category-17 category-16 tag-28 tag-29 tag-24">
                            <div class="clr">
                                <div class="cz_post_con">
                                    <div class="cz_post_excerpt">
                                        <p style="font-size:25px; font-weight:700"> <i class="fa fa-angle-left"></i>  النظم و المتابعة</p>
                                        <p style="font-size:23px">  م/ شادى شكرى</p>
                                        <a class="cz_readmore" style="font-size:20px" href="mailto:shady.nessim@kwalexculture.org"><i class="fa czico-107-web-link"></i><span>shady.nessim@kwalexculture.org</span></a>
                                        <br />
                                        <p style="font-size:23px">  أ/ ميشيل كمال </p>
                                        <a class="cz_readmore" style="font-size:20px" href="mailto:micheal@kwalexculture.org"><i class="fa czico-107-web-link"></i><span>micheal@kwalexculture.org</span></a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="clr tac relative"></div>
            </div>
        </section>
    </div>
</div>

