<div class="page_cover xtra-cover-type-rev">
    <p class="rs-p-wp-fix"></p>
    <rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery" style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0">
        <rs-module id="rev_slider_1_1" style="" data-version="6.5.9">
            <rs-slides>
                @*<rs-slide id="kuwiat_national_day" class="" style="position: absolute" data-key="rs-6" data-title="Slide 6" data-in="o:0;y:-100%;" data-out="y:60%;">
                    <img src="~/new/kuwait_national_day.jpg" title="slider6" width="800" height="800" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina="">
                </rs-slide>*@
                <rs-slide id="slider4Desktop" class="" style="position: absolute" data-key="rs-4" data-title="Slide 4" data-in="o:0;y:-100%;" data-out="y:60%;">
                    <img src="~/new/kuwait-ministry-2.jpg" title="slider4" width="800" height="800" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina="">
                </rs-slide>
                <rs-slide style="position: absolute;" data-key="rs-1" data-title="Slide 1" data-in="o:0;y:-100%;" data-out="y:60%;">
                    <img src="~/new/embassy.JPEG" title="slider3" width="800" height="800" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina="">
                    <rs-layer id="slider-1-slide-1-layer-1" class="largewhitebg" data-type="text" data-color="#196730" data-rsp_ch="on" data-xy="x:l,l,l,c;xo:667px,667px,667px,0;y:t,t,t,m;yo:296px,296px,296px,61px;" data-text="s:56,56,56,30;l:100,100,100,50;fw:700;" data-padding="r:50;l:50;" data-border="bow:0px,0,0,0;bor:10px,10px,10px,10px;" data-frame_0="sX:0.9;sY:0.9;" data-frame_1="st:660;sp:1500;sR:660;" data-frame_999="o:0;e:nothing;st:w;sR:6840;" style="z-index:6;background-color:#ffffff;font-family:'El Messiri';position:absolute;-webkit-border-radius:0px;-moz-border-radius:0px;">
                        المستقبل المشرق
                    </rs-layer>
                    <a href="~/home/about" target="_blank">
                        <rs-layer id="slider-1-slide-1-layer-2" class="medium_bg_darkblue" data-type="text" data-rsp_ch="on" data-xy="x:l,l,l,c;xo:705px,705px,705px,0;y:t,t,t,m;yo:396px,396px,396px,113px;" data-text="s:30,30,30,20;l:30,30,30,20;fw:500;" data-padding="t:20;r:30;b:20;l:30;" data-border="bor:10px,10px,10px,10px;" data-frame_0="sX:0.9;sY:0.9;" data-frame_1="st:880;sp:1500;sR:880;" data-frame_999="o:0;e:nothing;st:w;sR:6620;" style="z-index:7;background-color:#252220;font-family:'El Messiri';">
                            تعرف علينا
                        </rs-layer>
                    </a>
                    <rs-layer id="slider-1-slide-1-layer-4" class="medium_bg_darkblue" data-type="text" data-rsp_ch="on" data-xy="x:l,l,l,c;xo:837px,837px,837px,0;y:t,t,t,m;yo:255px,255px,255px,20px;" data-text="l:2;fw:500;" data-padding="t:20;r:30;b:20;l:30;" data-border="bor:10px,10px,10px,10px;" data-frame_0="sX:0.9;sY:0.9;" data-frame_1="st:400;sp:1500;sR:400;" data-frame_999="o:0;e:nothing;st:w;sR:7100;" style="z-index:5;background:linear-gradient(90deg, rgba(25,103,48,1) 0%, rgba(67,154,13,1) 100%);font-family:'El Messiri';">
                        المكتب الثقافى بالأسكندرية
                    </rs-layer>
                </rs-slide>
                <rs-slide style="position: absolute;" data-key="rs-5" data-title="Slide 5" data-in="o:0;y:-100%;" data-out="y:60%;">
                    <img src="~/new/banner-student_banner.JPG" title="slider3" width="800" height="800" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina="">
                    <rs-layer id="slider-1-slide-1-layer-1" class="largewhitebg" data-type="text" data-color="#196730" data-rsp_ch="on" data-xy="x:l,l,l,c;xo:667px,667px,667px,0;y:t,t,t,m;yo:296px,296px,296px,61px;" data-text="s:56,56,56,30;l:100,100,100,50;fw:700;" data-padding="r:50;l:50;" data-border="bow:0px,0,0,0;bor:10px,10px,10px,10px;" data-frame_0="sX:0.9;sY:0.9;" data-frame_1="st:660;sp:1500;sR:660;" data-frame_999="o:0;e:nothing;st:w;sR:6840;" style="z-index:6;background-color:#ffffff;font-family:'El Messiri';position:absolute;-webkit-border-radius:0px;-moz-border-radius:0px;">
                        كن منارة لبلدك
                    </rs-layer>
                    <rs-layer id="slider-1-slide-1-layer-4" class="medium_bg_darkblue" data-type="text" data-rsp_ch="on" data-xy="x:l,l,l,c;xo:837px,837px,837px,0;y:t,t,t,m;yo:255px,255px,255px,20px;" data-text="l:2;fw:500;" data-padding="t:20;r:30;b:20;l:30;" data-border="bor:10px,10px,10px,10px;" data-frame_0="sX:0.9;sY:0.9;" data-frame_1="st:400;sp:1500;sR:400;" data-frame_999="o:0;e:nothing;st:w;sR:7100;" style="z-index:5;background:linear-gradient(90deg, rgba(25,103,48,1) 0%, rgba(67,154,13,1) 100%);font-family:'El Messiri';">
                        المكتب الثقافى بالأسكندرية
                    </rs-layer>
                </rs-slide>
                @*<rs-slide style="position: absolute;" data-key="rs-2" data-title="Slide 2" data-in="o:0;y:-100%;" data-out="y:60%;">
        <img src="~/new/banner-student_banner.JPG" title="slider1" width="1600" height="800" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina="">
        <rs-layer id="slider-1-slide-2-layer-1" class="largewhitebg" data-type="text" data-color="#196730" data-rsp_ch="on" data-xy="x:l,l,l,c;xo:750px,750px,645px,0;y:t,t,t,m;yo:229px,229px,229px,-98px;" data-text="s:56,56,56,30;l:100,100,100,50;fw:700;" data-padding="r:50;l:50;" data-border="bow:0px,0,0,0;bor:10px,10px,10px,10px;" data-frame_0="sX:0.9;sY:0.9;" data-frame_1="st:660;sp:1500;sR:660;" data-frame_999="o:0;e:nothing;st:w;sR:6840;" style="z-index:6;background-color:#ffffff;font-family:'El Messiri';position:absolute;-webkit-border-radius:0px;-moz-border-radius:0px;">
            كن منارة لبلدك
        </rs-layer>*@
                @*<a href="~/student/join">
            <rs-layer id="slider-1-slide-2-layer-2" class="medium_bg_darkblue" data-type="text" data-rsp_ch="on" data-xy="x:l,l,l,c;xo:790px,790px,638px,0;y:t,t,t,m;yo:323px,323px,323px,-46px;" data-text="s:30,30,30,20;l:30,30,30,20;fw:500;" data-padding="t:20;r:30;b:20;l:30;" data-border="bor:10px,10px,10px,10px;" data-frame_0="sX:0.9;sY:0.9;" data-frame_1="st:880;sp:1500;sR:880;" data-frame_999="o:0;e:nothing;st:w;sR:6620;" style="z-index:7;background-color:#252220;font-family:'El Messiri';">
                إلتحق الأن
            </rs-layer>
        </a>*@
                <rs-layer id="slider-1-slide-2-layer-4" class="medium_bg_darkblue" data-type="text" data-rsp_ch="on" data-xy="x:l,l,l,c;xo:850px,850px,390px,0;y:t,t,t,m;yo:190px,190px,190px,-140px;" data-text="l:2;fw:500;" data-padding="t:20;r:30;b:20;l:30;" data-border="bor:10px,10px,10px,10px;" data-frame_0="sX:0.9;sY:0.9;" data-frame_1="st:400;sp:1500;sR:400;" data-frame_999="o:0;e:nothing;st:w;sR:7100;" style="z-index:5;background:linear-gradient(90deg, rgba(25,103,48,1) 0%, rgba(67,154,13,1) 100%);font-family:'El Messiri';">
                    الدراسة الجامعية فى مصر
                </rs-layer>
            </rs-slides>
        </rs-module>
        <script type="text/javascript">setREVStartSize({ c: 'rev_slider_1_1', rl: [1240, 1240, 1240, 480], el: [700, 700, 700, 440], gw: [1240, 1240, 1240, 480], gh: [700, 700, 700, 440], type: 'standard', justify: '', layout: 'fullwidth', mh: "0" }); if (window.RS_MODULES !== undefined && window.RS_MODULES.modules !== undefined && window.RS_MODULES.modules.revslider11 !== undefined) { window.RS_MODULES.modules.revslider11.once = !1; window.revapi1 = undefined; if (window.RS_MODULES.checkMinimal !== undefined) window.RS_MODULES.checkMinimal() }</script>
    </rs-module-wrap>
</div>


<!--<div class="page_cover xtra-cover-type-rev">
    <p class="rs-p-wp-fix"></p>
    <rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0">
        <rs-module id="rev_slider_1_1" style="" data-version="6.5.9">
            <rs-slides>
           
                <rs-slide style="position: absolute;" data-key="rs-6" data-title="Slide 6" data-in="o:0;y:-100%;" data-out="y:60%;">
                    <img src="~/new/kuwait ministry_mobile.jpg" title="slider6" width="800" height="800" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina="">
                </rs-slide>

                <rs-slide style="position: absolute;" data-key="rs-7" data-title="Slide 7" data-in="o:0;y:-100%;" data-out="y:60%;">
                    <img src="~/new/embassy.JPEG" title="slider7" width="800" height="800" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina="">
                    <rs-layer id="slider-1-slide-1-layer-1" class="largewhitebg" data-type="text" data-color="#196730" data-rsp_ch="on" data-xy="x:l,l,l,c;xo:667px,667px,667px,0;y:t,t,t,m;yo:296px,296px,296px,61px;" data-text="s:56,56,56,30;l:100,100,100,50;fw:700;" data-padding="r:50;l:50;" data-border="bow:0px,0,0,0;bor:10px,10px,10px,10px;" data-frame_0="sX:0.9;sY:0.9;" data-frame_1="st:660;sp:1500;sR:660;" data-frame_999="o:0;e:nothing;st:w;sR:6840;" style="z-index:6;background-color:#ffffff;font-family:'El Messiri';position:absolute;-webkit-border-radius:0px;-moz-border-radius:0px;">
                        المستقبل المشرق
                    </rs-layer>
                    <a href="~/home/about" target="_blank">
                        <rs-layer id="slider-1-slide-1-layer-2" class="medium_bg_darkblue" data-type="text" data-rsp_ch="on" data-xy="x:l,l,l,c;xo:705px,705px,705px,0;y:t,t,t,m;yo:396px,396px,396px,113px;" data-text="s:30,30,30,20;l:30,30,30,20;fw:500;" data-padding="t:20;r:30;b:20;l:30;" data-border="bor:10px,10px,10px,10px;" data-frame_0="sX:0.9;sY:0.9;" data-frame_1="st:880;sp:1500;sR:880;" data-frame_999="o:0;e:nothing;st:w;sR:6620;" style="z-index:7;background-color:#252220;font-family:'El Messiri';">
                            تعرف علينا
                        </rs-layer>
                    </a>
                    <rs-layer id="slider-1-slide-1-layer-4" class="medium_bg_darkblue" data-type="text" data-rsp_ch="on" data-xy="x:l,l,l,c;xo:837px,837px,837px,0;y:t,t,t,m;yo:255px,255px,255px,20px;" data-text="l:2;fw:500;" data-padding="t:20;r:30;b:20;l:30;" data-border="bor:10px,10px,10px,10px;" data-frame_0="sX:0.9;sY:0.9;" data-frame_1="st:400;sp:1500;sR:400;" data-frame_999="o:0;e:nothing;st:w;sR:7100;" style="z-index:5;background:linear-gradient(90deg, rgba(25,103,48,1) 0%, rgba(67,154,13,1) 100%);font-family:'El Messiri';">
                        المكتب الثقافى بالأسكندرية
                    </rs-layer>
                </rs-slide>
                <rs-slide style="position: absolute;" data-key="rs-8" data-title="Slide 8" data-in="o:0;y:-100%;" data-out="y:60%;">
                    <img src="~/new/banner-student_banner.JPG" title="slider8" width="800" height="800" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina="">
                    <rs-layer id="slider-1-slide-1-layer-1" class="largewhitebg" data-type="text" data-color="#196730" data-rsp_ch="on" data-xy="x:l,l,l,c;xo:667px,667px,667px,0;y:t,t,t,m;yo:296px,296px,296px,61px;" data-text="s:56,56,56,30;l:100,100,100,50;fw:700;" data-padding="r:50;l:50;" data-border="bow:0px,0,0,0;bor:10px,10px,10px,10px;" data-frame_0="sX:0.9;sY:0.9;" data-frame_1="st:660;sp:1500;sR:660;" data-frame_999="o:0;e:nothing;st:w;sR:6840;" style="z-index:6;background-color:#ffffff;font-family:'El Messiri';position:absolute;-webkit-border-radius:0px;-moz-border-radius:0px;">
                        كن منارة لبلدك
                    </rs-layer>
                    <rs-layer id="slider-1-slide-1-layer-4" class="medium_bg_darkblue" data-type="text" data-rsp_ch="on" data-xy="x:l,l,l,c;xo:837px,837px,837px,0;y:t,t,t,m;yo:255px,255px,255px,20px;" data-text="l:2;fw:500;" data-padding="t:20;r:30;b:20;l:30;" data-border="bor:10px,10px,10px,10px;" data-frame_0="sX:0.9;sY:0.9;" data-frame_1="st:400;sp:1500;sR:400;" data-frame_999="o:0;e:nothing;st:w;sR:7100;" style="z-index:5;background:linear-gradient(90deg, rgba(25,103,48,1) 0%, rgba(67,154,13,1) 100%);font-family:'El Messiri';">
                        المكتب الثقافى بالأسكندرية
                    </rs-layer>
                </rs-slide>-->
                @*<rs-slide style="position: absolute;" data-key="rs-2" data-title="Slide 2" data-in="o:0;y:-100%;" data-out="y:60%;">
                    <img src="~/new/banner-student_banner.JPG" title="slider1" width="1600" height="800" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina="">
                    <rs-layer id="slider-1-slide-2-layer-1" class="largewhitebg" data-type="text" data-color="#196730" data-rsp_ch="on" data-xy="x:l,l,l,c;xo:750px,750px,645px,0;y:t,t,t,m;yo:229px,229px,229px,-98px;" data-text="s:56,56,56,30;l:100,100,100,50;fw:700;" data-padding="r:50;l:50;" data-border="bow:0px,0,0,0;bor:10px,10px,10px,10px;" data-frame_0="sX:0.9;sY:0.9;" data-frame_1="st:660;sp:1500;sR:660;" data-frame_999="o:0;e:nothing;st:w;sR:6840;" style="z-index:6;background-color:#ffffff;font-family:'El Messiri';position:absolute;-webkit-border-radius:0px;-moz-border-radius:0px;">
                        كن منارة لبلدك
                    </rs-layer>*@
                @*<a href="~/student/join">
                        <rs-layer id="slider-1-slide-2-layer-2" class="medium_bg_darkblue" data-type="text" data-rsp_ch="on" data-xy="x:l,l,l,c;xo:790px,790px,638px,0;y:t,t,t,m;yo:323px,323px,323px,-46px;" data-text="s:30,30,30,20;l:30,30,30,20;fw:500;" data-padding="t:20;r:30;b:20;l:30;" data-border="bor:10px,10px,10px,10px;" data-frame_0="sX:0.9;sY:0.9;" data-frame_1="st:880;sp:1500;sR:880;" data-frame_999="o:0;e:nothing;st:w;sR:6620;" style="z-index:7;background-color:#252220;font-family:'El Messiri';">
                            إلتحق الأن
                        </rs-layer>
                    </a>*@
                <!--<rs-layer id="slider-1-slide-2-layer-4" class="medium_bg_darkblue" data-type="text" data-rsp_ch="on" data-xy="x:l,l,l,c;xo:850px,850px,390px,0;y:t,t,t,m;yo:190px,190px,190px,-140px;" data-text="l:2;fw:500;" data-padding="t:20;r:30;b:20;l:30;" data-border="bor:10px,10px,10px,10px;" data-frame_0="sX:0.9;sY:0.9;" data-frame_1="st:400;sp:1500;sR:400;" data-frame_999="o:0;e:nothing;st:w;sR:7100;" style="z-index:5;background:linear-gradient(90deg, rgba(25,103,48,1) 0%, rgba(67,154,13,1) 100%);font-family:'El Messiri';">
                    الدراسة الجامعية فى مصر
                </rs-layer>
            </rs-slides>
        </rs-module>
        <script type="text/javascript">setREVStartSize({ c: 'rev_slider_1_1', rl: [1240, 1240, 1240, 480], el: [700, 700, 700, 440], gw: [1240, 1240, 1240, 480], gh: [700, 700, 700, 440], type: 'standard', justify: '', layout: 'fullwidth', mh: "0" }); if (window.RS_MODULES !== undefined && window.RS_MODULES.modules !== undefined && window.RS_MODULES.modules.revslider11 !== undefined) { window.RS_MODULES.modules.revslider11.once = !1; window.revapi1 = undefined; if (window.RS_MODULES.checkMinimal !== undefined) window.RS_MODULES.checkMinimal() }</script>
    </rs-module-wrap>
</div>-->
