<div class="page_cover xtra-cover-type-rev">
    <p class="rs-p-wp-fix"></p>
    <rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery" style="visibility:visible;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0">
        <rs-module id="rev_slider_1_1" data-version="6.5.9">
            <rs-slides>
                <rs-slide style="position: absolute;" data-key="rs-6" data-title="Slide 6" data-in="o:0;y:-100%;" data-out="y:60%;">
                    <img src="~/new/kuwait ministry_mobile.JPG" title="slider6" width="800" height="800" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina="">
                </rs-slide>
            </rs-slides>
        </rs-module>
        <script type="text/javascript">setREVStartSize({ c: 'rev_slider_1_1', rl: [1240, 1240, 1240, 480], el: [700, 700, 700, 440], gw: [1240, 1240, 1240, 480], gh: [700, 700, 700, 440], type: 'standard', justify: '', layout: 'fullwidth', mh: "0" }); if (window.RS_MODULES !== undefined && window.RS_MODULES.modules !== undefined && window.RS_MODULES.modules.revslider11 !== undefined) { window.RS_MODULES.modules.revslider11.once = !1; window.revapi1 = undefined; if (window.RS_MODULES.checkMinimal !== undefined) window.RS_MODULES.checkMinimal() }</script>
    </rs-module-wrap>
</div>