
@{
    ViewData["Title"] = "تم التسجيل بنجاح";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["thisPageMessage"] = "تم التسجيل بنجاح";
}
<div class="page_cover xtra-cover-type-title">
    <div class="page_title" data-title-parallax="">
        <div class="right_br_full_container clr">
            <div class="row clr">
                <div class="lefter">
                    <h1 class="section_title ">إستخراج بطاقة طالب</h1>
                </div>
                <div class="righter">
                    <div class="breadcrumbs clr">
                        <b><a href="~/home/"><span><i class="fa fa-home cz_breadcrumbs_home"></i></span></a></b>
                        <i class="fas fa-angle-double-left"></i>
                        <b class="inactive_l"><a class="cz_br_current" href="~/home"><span>تم إرسال البيانات</span></a></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div id="page_content" class="page_content mt0 mb0">
    <div class="row clr">
        <section class="s12 clr">
            <div class="cz_is_blank clr">
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="cz_gap clr  hide_on_tablet hide_on_mobile"></div>
                                <div class="cz_gap show_on_tablet clr "></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row wpb_row vc_row-fluid vc_custom_1497126171788 vc_row-has-fill">
                    <div class="wpb_column vc_column_container">
                        <div class="vc_column-inner vc_custom_1585687734462">
                            <div class="cz_wpe_content">
                                <h2 style="align-content:center"><i class="fa fa-user-shield" style="color:forestgreen"></i> شكرا لك. من فضلك توجه بعد 72 ساعة (ثلاثة أيام دوام) بعد الساعة الثانية ظهرا لإستلام البطاقة</h2><i class="bg-success"></i>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div>@ViewBag.regNo</div>*@
            </div>
        </section>
    </div>
</div>

