
@{
    ViewData["Title"] = "الخدمات الإلكترونية";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["currentIsServicesPage"] = "current_menu";
}

<div class="page_cover xtra-cover-type-title">
    <div class="page_title" data-title-parallax="">
        <div class="right_br_full_container clr">
            <div class="row clr">
                <div class="lefter">
                    <h1 class="section_title ">الخدمات الإلكترونية</h1>
                </div>
                <div class="righter">
                    <div class="breadcrumbs clr">
                        <b><a href="~/home/"><span><i class="fa fa-home cz_breadcrumbs_home"></i></span></a></b>
                        <i class="fas fa-angle-double-left"></i>
                        <b class="inactive_l"><a class="cz_br_current" href=""><span>الخدمات الإلكترونية</span></a></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="page_content" class="page_content mb0" dir="rtl" style="direction:rtl">
    <div class="row clr" dir="rtl">
        <section class="s12 clr">
            <div class="cz_is_blank clr">
                <div class="cz_post_content clr">
                    <div class="vc_row wpb_row vc_row-fluid" dir="rtl">
                        <div class="wpb_column vc_column_container vc_col-sm-12" dir="rtl">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="cz_gap clr " style="height: 10px"></div>
                                    <div id="cz_111090" class="cz_111090 cz_title clr cz_smart_fs cz_mobile_text_center cz_title_pos_inline tac">
                                        <div class="cz_title_content">
                                            <div class="cz_wpe_content">
                                                <h3 style="text-align: center;">
                                                    <span style="font-size: 48px;">الخدمات الإلكترونية</span>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cz_gap clr " style="height: 80px"></div>
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid z9" dir="rtl" style="direction:rtl">
                                        <div class="wpb_column vc_column_container vc_col-sm-4" dir="rtl" style="float:right">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="fx_up_hover">
                                                        <a href="~/Student/PostIdCardRequest">
                                                            <div id="cz_110735" class="cz_110735 services clr style11 cz_sbi_fx_10 services_b">
                                                                <div class="service_img" style="width:180px; height:180px">
                                                                    <img width="515" height="515" src="~/services/id-card.png" class="form-submit attachment-full" alt="" data-srcset="~/services/id-card.png" data-sizes="(max-width: 515px) 100vw, 515px" />
                                                                </div>
                                                                <div class="service_text">
                                                                    <h3>بطاقة الهوية</h3>
                                                                    <div class="cz_wpe_content">طلب إستخراج بطاقة الهوية</div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-4" dir="rtl" style="float:right">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="fx_up_hover">
                                                        <a href="~/Service/PostCertifiedRecruitmentRequest">
                                                            <div id="cz_65671" class="cz_65671 services clr style11 cz_sbi_fx_10 services_b">
                                                                <div class="service_img" style="width:180px; height:180px">
                                                                    <img width="160" height="160" src="~/services/military-certificate.png" data-czlz class="service-icon attachment-full" alt="" data-srcset="~/services/military-certificate.png" data-sizes="(max-width: 515px) 100vw, 515px" />
                                                                </div>
                                                                <div class="service_text">
                                                                    <h3>مصدقة التجنيد</h3>
                                                                    <div class="cz_wpe_content">طلب إستخراج مصدقة التجنيد</div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="cz_gap clr  hide_on_tablet hide_on_mobile" style="height: 0px"></div>
                                                    <div class="cz_gap show_on_tablet clr " style="height: 50px"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-4" dir="rtl" style="float:right">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="fx_up_hover">
                                                        <a href="~/FeePayment/PostFeePaymentRequest">
                                                            <div id="cz_57779" class="cz_57779 services clr style11 cz_sbi_fx_10 services_b">
                                                                <div class="service_img" style="width:180px; height:180px">
                                                                    <img width="512" height="512" src="~/services/fees.png" data-czlz class="service-icon attachment-full" alt="" data-srcset="~/services/fees.png" data-sizes="(max-width: 515px) 100vw, 515px" />
                                                                </div>
                                                                <div class="service_text">
                                                                    <h3> نموذج سداد الرسوم الدراسية</h3>
                                                                    <div class="cz_wpe_content">للطلبة المبتعثين</div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="cz_gap clr  hide_on_tablet hide_on_mobile" style="height: 0px"></div>
                                                    <div class="cz_gap show_on_tablet clr " style="height: 50px"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-4" dir="rtl" style="float:right">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="fx_up_hover">
                                                        <a href="~/Service/PostClinicalAllowanceExchange">
                                                            <div id="cz_57779" class="cz_57779 services clr style11 cz_sbi_fx_10 services_b">
                                                                <div class="service_img" style="width:180px; height:180px">
                                                                    <img width="512" height="512" src="~/services/clinical.png" data-czlz class="service-icon attachment-full" alt="" data-srcset="~/services/clinical.png" data-sizes="(max-width: 515px) 100vw, 515px" />
                                                                </div>
                                                                <div class="service_text">
                                                                    <h3> صرف البدل الإكلينيكى</h3>
                                                                    <div class="cz_wpe_content">للطلبة المبتعثين</div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="cz_gap clr  hide_on_tablet hide_on_mobile" style="height: 0px"></div>
                                                    <div class="cz_gap show_on_tablet clr " style="height: 50px"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-4" dir="rtl" style="float:right">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="fx_up_hover">
                                                        <a href="~/Service/PostTicketExchange">
                                                            <div id="cz_57779" class="cz_57779 services clr style11 cz_sbi_fx_10 services_b">
                                                                <div class="service_img" style="width:180px; height:180px">
                                                                    <img width="512" height="512" src="~/services/ticket-exchange.png" data-czlz class="service-icon attachment-full" alt="" data-srcset="~/services/ticket-exchange.png" data-sizes="(max-width: 515px) 100vw, 515px" />
                                                                </div>
                                                                <div class="service_text">
                                                                    <h3> صرف بدل تذكرة سفر</h3>
                                                                    <div class="cz_wpe_content">للطلبة المبتعثين</div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="cz_gap clr  hide_on_tablet hide_on_mobile" style="height: 0px"></div>
                                                    <div class="cz_gap show_on_tablet clr " style="height: 50px"></div>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="wpb_column vc_column_container vc_col-sm-3">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="fx_up_hover">
                        <a href="tel:+2033925566">
                            <div id="cz_23140" class="cz_23140 services clr style11 cz_sbi_fx_10 services_b">
                                <div class="service_img">
                                    <img width="512" height="512" src="data:image/svg+xml,%3Csvg%20xmlns%3D&#39;http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg&#39;%20width=&#39;512&#39;%20height=&#39;512&#39;%20viewBox%3D&#39;0%200%20512%20512&#39;%2F%3E" data-czlz data-src="https://xtratheme.com/arabic/business-4/wp-content/uploads/sites/28/2019/10/smartphone.png" class="service-icon attachment-full" alt="" data-srcset="https://xtratheme.com/arabic/business-4/wp-content/uploads/sites/28/2019/10/smartphone.png 512w, https://xtratheme.com/arabic/business-4/wp-content/uploads/sites/28/2019/10/smartphone-300x300.png 300w, https://xtratheme.com/arabic/business-4/wp-content/uploads/sites/28/2019/10/smartphone-150x150.png 150w, https://xtratheme.com/arabic/business-4/wp-content/uploads/sites/28/2019/10/smartphone-100x100.png 100w" data-sizes="(max-width: 512px) 100vw, 512px" />
                                </div>
                                <div class="service_text">
                                    <h3>تواصل معنا</h3>
                                    <div class="cz_wpe_content">إتصل بنا</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cz_gap clr  hide_on_tablet hide_on_mobile" style="height: 0px"></div>
                    <div class="cz_gap show_on_tablet clr " style="height: 50px"></div>
                </div>
            </div>
        </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row-full-width vc_clearfix"></div>
                    @*<div class="vc_row wpb_row vc_row-fluid cz_reverse_row">
                            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div id="cz_37121" class="cz_37121 cz_image clr cz_image_no_fx center_on_mobile">
                                            <div class="">
                                                <div class="cz_image_in">
                                                    <div class="cz_main_image">
                                                        <img width="512" height="512" src="data:image/svg+xml,%3Csvg%20xmlns%3D&#39;http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg&#39;%20width=&#39;512&#39;%20height=&#39;512&#39;%20viewBox%3D&#39;0%200%20512%20512&#39;%2F%3E" data-czlz data-src="https://xtratheme.com/arabic/business-4/wp-content/uploads/sites/28/2019/12/list.png" class="attachment-full" alt="" data-srcset="https://xtratheme.com/arabic/business-4/wp-content/uploads/sites/28/2019/12/list.png 512w, https://xtratheme.com/arabic/business-4/wp-content/uploads/sites/28/2019/12/list-300x300.png 300w, https://xtratheme.com/arabic/business-4/wp-content/uploads/sites/28/2019/12/list-150x150.png 150w, https://xtratheme.com/arabic/business-4/wp-content/uploads/sites/28/2019/12/list-100x100.png 100w" data-sizes="(max-width: 512px) 100vw, 512px" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cz_gap clr " style="height: 25px"></div>
                                        <div id="cz_25646" class="cz_25646 cz_title clr cz_mobile_text_center cz_title_pos_inline">
                                            <div class="cz_title_content">
                                                <div class="cz_wpe_content">
                                                    <p>
                                                        <span style="color: #01849f; font-size: 20px;">الأن أسرع من قبل!</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cz_gap clr " style="height: 10px"></div>
                                        <div id="cz_14756" class="cz_14756 cz_title clr cz_smart_fs cz_mobile_text_center cz_title_pos_inline">
                                            <div class="cz_title_content">
                                                <div class="cz_wpe_content">
                                                    <h3>
                                                        <span style="font-size: 48px;">طريق إجراءات العمل لدينا</span>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cz_gap clr " style="height: 30px"></div>
                                        <div class="cz_gap clr " style="height: 20px"></div>
                                        <div id="cz_66026" class="cz_66026 cz_title clr cz_mobile_text_center cz_title_has_icon cz_title_pos_inline">
                                            <div class="cz_title_content">
                                                <i class="cz_title_icon_before cz_title_number"><span>٠١.</span></i>
                                                <div class="cz_wpe_content">
                                                    <h3>
                                                        <span style="font-size: 28px; margin-bottom: 10px; display: inline-block;">خطوة 1</span>
                                                    </h3>
                                                    <p>
                                                        <span style="font-size: 20px; color: #aaaaaa;">تفاصيل خطوة 1. </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cz_gap clr  hide_on_tablet hide_on_mobile" style="height: 0px"></div>
                                        <div class="cz_gap show_on_tablet clr " style="height: 50px"></div>
                                        <div id="cz_31996" class="cz_31996 cz_title clr cz_mobile_text_center cz_title_has_icon cz_title_pos_inline">
                                            <div class="cz_title_content">
                                                <i class="cz_title_icon_before cz_title_number"><span>٠٢.</span></i>
                                                <div class="cz_wpe_content">
                                                    <h3>
                                                        <span style="font-size: 28px; margin-bottom: 10px; display: inline-block;">خطوة 2</span>
                                                    </h3>
                                                    <p>
                                                        <span style="font-size: 20px; color: #aaaaaa;">تفاصيل خطوة 2</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cz_gap clr  hide_on_tablet hide_on_mobile" style="height: 0px"></div>
                                        <div class="cz_gap show_on_tablet clr " style="height: 50px"></div>
                                        <div id="cz_36295" class="cz_36295 cz_title clr cz_mobile_text_center cz_title_has_icon cz_title_pos_inline">
                                            <div class="cz_title_content">
                                                <i class="cz_title_icon_before cz_title_number"><span>٠٣.</span></i>
                                                <div class="cz_wpe_content">
                                                    <h3>
                                                        <span style="font-size: 28px; margin-bottom: 10px; display: inline-block;">خطوة 3</span>
                                                    </h3>
                                                    <p>
                                                        <span style="font-size: 20px; color: #aaaaaa;">خطوة 3</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cz_gap clr  hide_on_tablet hide_on_mobile" style="height: 0px"></div>
                                        <div class="cz_gap show_on_tablet clr  show_only_tablet" style="height: 100px"></div>
                                        <div class="cz_gap show_on_mobile clr" style="height: 75px"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div id="cz_93830" class="cz_93830 cz_image clr cz_image_no_fx">
                                            <div class="">
                                                <div class="cz_image_in">
                                                    <div class="cz_main_image">
                                                        <img width="1000" height="1400" src="data:image/svg+xml,%3Csvg%20xmlns%3D&#39;http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg&#39;%20width=&#39;1000&#39;%20height=&#39;1400&#39;%20viewBox%3D&#39;0%200%201000%201400&#39;%2F%3E" data-czlz data-src="https://xtratheme.com/arabic/business-4/wp-content/uploads/sites/28/2019/12/hip-man-1.jpg" class="attachment-full" alt="" data-srcset="https://xtratheme.com/arabic/business-4/wp-content/uploads/sites/28/2019/12/hip-man-1.jpg 1000w, https://xtratheme.com/arabic/business-4/wp-content/uploads/sites/28/2019/12/hip-man-1-214x300.jpg 214w, https://xtratheme.com/arabic/business-4/wp-content/uploads/sites/28/2019/12/hip-man-1-731x1024.jpg 731w, https://xtratheme.com/arabic/business-4/wp-content/uploads/sites/28/2019/12/hip-man-1-768x1075.jpg 768w, https://xtratheme.com/arabic/business-4/wp-content/uploads/sites/28/2019/12/hip-man-1-600x840.jpg 600w" data-sizes="(max-width: 1000px) 100vw, 1000px" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    @*<div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="relative">
                                            <div id="cz_21162" class="cz_21162 cz_line tal"></div>
                                        </div>
                                        <div class="clr"></div>
                                        <div class="cz_gap clr  hide_on_tablet hide_on_mobile" style="height: 125px"></div>
                                        <div class="cz_gap show_on_tablet clr  show_only_tablet" style="height: 100px"></div>
                                        <div class="cz_gap show_on_mobile clr" style="height: 50px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </section>
    </div>
</div>
