
@{
    ViewData["Title"] = "تحديث البيانات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page_cover xtra-cover-type-title">
    <div class="page_title" data-title-parallax="">
        <div class="right_br_full_container clr">
            <div class="row clr">
                <div class="lefter">
                    <h1 class="section_title ">تحديث بيانات الطالب</h1>
                </div>
                <div class="righter">
                    <div class="breadcrumbs clr">
                        <b><a href="~/home/"><span><i class="fa fa-home cz_breadcrumbs_home"></i></span></a></b>
                        <i class="fas fa-angle-double-left"></i>
                        <b><a href="~/Service/GetServicesList/"><span>الخدمات الإلكترونية</span></a></b>
                        <i class="fas fa-angle-double-left"></i>
                        <b class="inactive_l"><a class="cz_br_current" href="#"><span>تحديث بيانات الطالب</span></a></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="page_content" class="page_content mt0 mb0">
    <div class="row clr">
        <section class="s12 clr">
            <div class="cz_is_blank clr">
                <div class="cz_post_content clr">
                    <div class="vc_row-full-width vc_clearfix"></div>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="cz_gap clr  hide_on_tablet hide_on_mobile" style="height: 40px"></div>
                                    <div class="cz_gap show_on_tablet clr " style="height: 20px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="cz_77024" class="cz_77024 cz_title clr cz_smart_fs cz_mobile_text_center cz_title_ba_line cz_title_pos_inline">
                        <div class="cz_title_content">
                            <div class="cz_wpe_content">
                                <h4>
                                    <a href="javascript:void(window.open('https://www.formpl.us/form/2119036050','blank','scroll=yes,toolbar=no,width=700, height=500'))"><span style="font-size: 36px;">إضغط هنا <span style="color: #439a0d;"> لتحديث بياناتك</span></span></a></h4>
                            </div>
                            <div class="cz_title_line cz_line_after_title">
                                <span>_</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


